#card{
    margin: 70px;
}
#navabar ul li{
    color:white;
}
#fonte{
    margin-left: 20px;
}
#fonte2{
    margin-right: 20px;
}
#botao{
    width: 100%;
}
.modal-content{
    color:black;
}
#input{
    margin: 25px 15%;
}
#icon i{
    margin-right: 5px;
}
nav{
    background: linear-gradient( #884dff, #dd99ff);
}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 60px;
    color: #fff;
    height: 50px;
    background: linear-gradient( #884dff, #dd99ff);

}  
.circle {
    background-color: #aaa;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
